{% extends "base.html" %}
{% block title %} Tietovisasovellus {% endblock %}
{% block content %}
  <div class="container mt-3">
    <div class="col-sm-6">
      <h2> Tervetuloa visailemaan!</h2>
      <p class="text-start"> Oletko aina tiennyt olevasi keskimääräistä fiksumpi? Nyt sinulla on mahdollisuus näyttää kyntesi 
        tietovisailun avulla! Rekisteröidy sisään ja kisaile muiden visailijoiden kanssa kärkipaikoista 
        tuloslistalla. Jos haluat vain teroittaa aivonystyröitäsi, etkä välitä tuloksista, voit myös visailla 
        vierailijana.
      </p>
    </div>
  </div>
{% endblock %}