{% extends "base.html" %}
{% block title %} Profiili {% endblock %}
{% block content %}
  <div class="container mt-3 mb-4">
    <h1> Omat tulokset: </h1>
    <table class="table mt-4 table-striped">
      <thead>
        <tr>
          <th scope="col">Aihe</th>
          <th scope="col">Oikein</th>
          <th scope="col">Kysyttyjä</th>
        </tr>
      </thead>
      <tbody>
        {% for score in scores %}
        <tr>
          <td>{{ score.topic }}</td>
          <td>{{ score.correct }}</td>
          <td>{{ score.total }}</td>
        </tr>
        {% endfor %}   
      </tbody>
    </table>
  </div>
{% endblock %}