{% extends "base.html" %}
{% block title %} Visa {% endblock %}
{% block content %}
<!--  <form action="/result" method="POST">
    {% for question in questions %}
      <fieldset class="form-group">
        <legend> {{ questions[question][0].question }} </legend>
          <div class="form-check">
            <input type="radio" name="{{ question }}" value="{{ questions[question][0].id }}" required="required"> {{ questions[question][0].option}}
          </div>
          <div class="form-check">
            <input type="radio" name="{{ question }}" value="{{ questions[question][1].id }}" required="required"> {{ questions[question][1].option}}
          </div>
          <div class="form-check">
            <input type="radio" name="{{ question }}" value="{{ questions[question][2].id }}" required="required"> {{ questions[question][2].option}}
          </div>
          <div class="form-check">
            <input type="radio" name="{{ question }}" value="{{ questions[question][3].id }}" required="required"> {{ questions[question][3].option}}
          </div>
      </fieldset>
    {% endfor %}
    <input type="submit" value="Lähetä">
  </form> -->
  <form action="/quiz" method="POST">
    {{ form.csrf_token() }}
    {% for field in form.question %}
      <fieldset class="form-group">
        <legend> {{ field.label }} </legend>
        {% for subfield in field %}
          <div class="form-check">
            {{ subfield.label }}
            {{ subfield(required="required") }}
          </div>
        {% endfor %}
      </fieldset>
    {% endfor %}
    <div>
      {{ form.submit }}
    </div>

  </form>
{% endblock %}