{% extends "base.html" %}
{% block title %} Visa {% endblock %}
{% block content %}
  <form action="/result" method="POST">
    {% for question in questions %}
      <p> {{ questions[question][0].question }}</p>
      <input type="radio" name="{{ question }}" value="{{ questions[question][0].id }}" required="required"> {{ questions[question][0].option}}
      <input type="radio" name="{{ question }}" value="{{ questions[question][1].id }}" required="required"> {{ questions[question][1].option}}
      <input type="radio" name="{{ question }}" value="{{ questions[question][2].id }}" required="required"> {{ questions[question][2].option}}
      <input type="radio" name="{{ question }}" value="{{ questions[question][3].id }}" required="required"> {{ questions[question][3].option}}
      <hr>
    {% endfor %}
    <input type="submit" value="Lähetä">
  </form>
{% endblock %}